.nameInput{
    background-color: white;
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: 0;
    background-color: #f6f6f6;
}

.postInput{
    width: 800px;
    height: 300px;
    border-radius: 5px;
    word-wrap: break-word;
    resize: none;
    border: 0;
    background-color: #f6f6f6;
}

.postDiv{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.postBtn{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cancel{
    width: 80px;
    height: 40px;
    background-color: dimgray;
    margin: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    
}

.check{
    
    width: 80px;
    height: 40px;
    margin: 10px;
    background-color:#f6f6f6;
    border-radius: 5px;
    border-color: #f6f6f6;
    cursor: pointer;
    
}

.mainDiv{
    display: flex;
}
.pDiv{
    display: flex;
    margin-top: 50px;
    width: 100%;
    justify-content: center;
}