
.menuDiv{
    position: fixed;
    width: 250px;
    height: 100vh;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color:rgba(0, 0, 0, 0.5);
    background-color: white;
}

.logo{
    font-weight: bold;
    font-size: 30px;
    padding: 30px;;
    display:inline-block;
    color: black;
}


.menuList{
    list-style-type: none;
    padding: 20px;
}

.menu{
    width: 180px;
    height: 50px;
    margin: 10px;
    color: black;
    font-size: 20px;
    line-height: 50px;
    text-indent: 10px;
    border-radius: 10px;
}
.menu:hover{
    background-color: gainsboro;
    transition: all 0.5s ease-out;
}



.loginBtn{
    
    width: 100px;
    color: black;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
    
}
.loginBtn:hover{
    background-color: gainsboro;
    
}

.joinBtn{
    font-size: 16px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    margin: 20px;
}

.joinBtn:hover{
    background-color: gainsboro;
    
}

.loginDiv{
    position: absolute;
    display: flex;
    bottom: 20px;
}